@charset "utf-8";
html,body,div,p,form,label,ul,li,dl,dt,dd,ol,img,button,b,em,strong,small,h1,h2,h3,h4,h5,h6{margin:0;padding:0;border:0;list-style:none;font-style:normal;}
body{height:100%;/*font-family:SimHei,'Helvetica Neue',Arial,'Droid Sans',sans-serif;*/font-size:14px;/*color:#333;*/ font-family: "微軟雅黑";}
a, a.link{color:#666;text-decoration:none;font-weight:500;}
a, a.link:hover{color:#666;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
/*.bookInfoContent,.commodityInfo{
    height: calc(100% - 50px)!important;
    overflow: auto;
}
*/


ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

img {
    vertical-align: middle;
}


.content_Binding{

    background: #ffdcdc;
    width: 100%;
    height: 100%;
    position: absolute;


  /*账号绑定输入手机号码*/


  .content_BindingPhone,.getcontent_BindingPhone{
    width: calc(100% - 15px)!important;
    height: 50px;
    background: #fff;
    margin: 0 auto;
    margin-top: 20px;
    height:calc(50%- 20px)!important;

  }
  .getcontent_BindingPhone{
    margin-top: 10px;
    height:calc(50%- 10px)!important;
  }

  .content_BindingPhone{
    border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -ms-border-radius: 5px 5px;

  }
  .content_BindingPhone input{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    text-indent: 10px;
    color: #222;
  }

  .content_BindingPhone input:hover{
    border: 0;
    color: #222;
  }

  .content_BindingPhone input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;font-size:14px;
  }
  .content_BindingPhone input::-moz-placeholder, textarea:-moz-placeholder {
    color:#ccc;font-size:14px;
  }
  .content_BindingPhone input::-moz-placeholder, textarea::-moz-placeholder {
    color:#ccc;font-size:14px;
  }
  .content_BindingPhone input::-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#ccc;font-size:14px;
  }

  .getcontent_BindingPhone input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;font-size:14px;
  }
  .getcontent_BindingPhone input::-moz-placeholder, textarea:-moz-placeholder {
    color:#ccc;font-size:14px;
  }
  .getcontent_BindingPhone input::-moz-placeholder, textarea::-moz-placeholder {
    color:#ccc;font-size:14px;
  }
  .getcontent_BindingPhone input::-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#ccc;font-size:14px;
  }
  /*获取验证码*/
  .getcontent_BindingPhone{
    width:calc(100% - 15px)!important;
    /*border-top-left-radius:8px 8px;
    border-bottom-left-radius:8px 8px;*/
    border-radius: 8px 8px;
    -webkit-border-radius: 8px 8px;
    -o-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    -ms-border-radius: 8px 8px;

  }
  .getcontent_BindingPhone input{
    width: calc(100% - 115px);
    height: 50px;
    float: left;
    color: #222;
    text-indent: 10px;
    border: 0;
  }
  .getcontent_BindingPhone input:hover{
    border: 0;
    color: #222;
  }

  .getcontent_BindingPhone2{
    width: 115px;
    height: 50px;
    background: #fe5050;
    text-align: center;
    float: right;
    border-top-right-radius:8px 8px;
    -webkit-border-top-right-radius:8px 8px;
    -o-border-top-right-radius:8px 8px;
    -moz-border-top-right-radius:8px 8px;
    -ms-border-top-right-radius:8px 8px;
    border-bottom-right-radius:8px 8px;
    -webkit-border-bottom-right-radius:8px 8px;
    -o-border-bottom-right-radius:8px 8px;
    -ms-border-bottom-right-radius:8px 8px;
    -moz-border-bottom-right-radius:8px 8px;
     button{
      width: 100%;
      line-height: 50px;
      color: #fff;
    }

     span{
      width: 100%;
      height: 100%;
      display: block;
    }
    img {
      width:100%;
      height: 50px;
    }
    .forbidClick{
      background:#ccc;
    }
  }
  
  /*新用户协议*/
  .New_user{
    font-size: 12px;
    color: #666;
    width: calc(100% - 15px)!important;
    padding:  15px 0;
    margin: 0 auto;
  }

  .New_user a{
    color: #2187F5;
    font-weight: 500;
  }

  .new_sure{
    border: 0;
    width: calc(100% - 15px)!important;
    line-height: 50px;
    display: block;
    color: #fff;
    background: #ef5050;
    border-radius: 8px 8px;
    -webkit-border-radius: 8px 8px;
    -o-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    -ms-border-radius: 8px 8px;
    margin: 0 auto;
    height: calc(50px - 5px)!important;
  }

  #bind_success{
    width: 150px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 8px 8px;
    -webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    -o-border-radius: 8px 8px;
    -ms-border-radius: 8px 8px;
    background: #322c2c;
    margin: 0 auto;
    margin-top: 20px;
    display: none;
  }


}



.main_background{
  width: 100%;
  height: auto;
  position: absolute;
  background: #fd5050;


.Activity{
  width: calc(100% - 15px)!important;
  background: #fff;
  margin: 0 auto;
  margin-top: 31px;
  padding: 20px 15px 10px 15px;
  border-radius: 16px 16px;
  -webkit-border-radius: 16px 16px;
  -moz-border-radius: 16px 16px;
  -o-border-radius: 16px 16px;
  -ms-border-radius: 16px 16px;
  margin-bottom: 75px;
}

.Activity_title{
  width: 120px;
  margin: 0 auto;
  background:#a046fe;
  line-height: 36px;
  text-align: center;
  color: #fff;
  border-radius: 18px 18px;
  margin-top: -38px;
  font-size: 16px;
}

.partake,.Activity_remind{
  color: red;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;

}
.Activity_points{
  color: red;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 500;

}
.partake_article,.partake_article2{
  font-size: 13px;
  color: #222;
  line-height: 2;
}

.partake_title,.partake_title2{
  color: red;
}

/*活动图片*/

.Activity_img{
  width: 100%;
  padding: 10px 0;
  height: 270px;
  margin-bottom: 25px;
}
.Activity_img img{
  width: 100%;
  height: 100%;

}
/*app底部绑定*/
.foot{
  width: calc(100% - 30px);
  background: url(../../assets/images/btn-4.png);
  width:100%;
  height: 70px;
  background-size: 100% 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  display: block;
}

.foot span{
  display: block;
  width: calc(100% - 15px);
  margin: 0 0 0 10px;
  line-height: 70px;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
}

